<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
	<listener class-name ="com.rishabh.framework.listeners.TestListener"/>
	</listeners>
  <test thread-count="5" name="Test">
  	<classes>
  		<class name="com.rishabh.framework.AppTest"/>
  		<class name="com.rishabh.framework.HomePageTest"/>
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->